Repository skylight-hq/dibbs-landing: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-code-checks, frontend-style-checks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-code-checks:
      glob: "*.{js,ts,jsx,tsx}"
      run: "./node_modules/.bin/eslint --fix {staged_files} && ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"
    frontend-style-checks:
      glob: "*.scss"
      run: "./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"

Updated readme
  README.md
  lefthook.yml
Due: none

Fixed typo
  README.md
Due: none

Fixed spacing
  README.md
Due: none

Code clean up (#1)
  README.md
  lefthook.yml
  src/app/layout.tsx
Due: frontend-code-checks

Adds npm install step in readme
  README.md
Due: none

Adds npm install step in readme (#2)
  README.md
Due: none

Fixes hero for widescreen
  src/styles/global.scss
Due: frontend-style-checks

Fixed hero content width
  src/components/hero/hero.tsx
Due: frontend-code-checks

Widescreen header footer fix (#3)
  src/components/hero/hero.tsx
  src/styles/global.scss
Due: frontend-code-checks, frontend-style-checks

Included gzip compression at build time
  next.config.ts
  package-lock.json
  package.json
Due: frontend-code-checks

Fixed element width
  src/components/card/card.tsx
Due: frontend-code-checks

Fixed element width (#4)
  src/components/card/card.tsx
Due: frontend-code-checks

feat: add deploy to demo workflow
  .github/workflows/deploy_to_demo.yaml
Due: none

feat: add deploy to demo workflow trigger (#5)
  .github/workflows/deploy_to_demo.yaml
Due: none

refactor(github-actions): remove deprecated deploy workflow and add trigger workflow for demo deployments
  .github/workflows/deploy_to_demo.yaml
  .github/workflows/trigger_demo_workflow.yaml
Due: none

refactor(github-actions): remove deprecated deploy workflow and add trigger workflow for demo deployments (#6)
  .github/workflows/deploy_to_demo.yaml
  .github/workflows/trigger_demo_workflow.yaml
Due: none

debug trigger
  .github/workflows/trigger_demo_workflow.yaml
Due: none

debug trigger (#7)
  .github/workflows/trigger_demo_workflow.yaml
Due: none

chore: update endpoint URLs in constants file
  src/utils/constants.ts
Due: frontend-code-checks

Updated copy and QC credentials
  src/app/page.tsx
  src/components/card/card.tsx
Due: frontend-code-checks

Updated simple report url
  src/utils/constants.ts
Due: frontend-code-checks

Moved credentials section from ecr refiner to ecr reviewer card
  src/app/page.tsx
Due: frontend-code-checks

added ecr viewer credentials
  src/app/page.tsx
Due: frontend-code-checks

Credentials moved to contant file
  src/app/page.tsx
  src/utils/constants.ts
Due: frontend-code-checks

Updated copy and QC credentials (do not merge) (#9)
  src/app/page.tsx
  src/components/card/card.tsx
  src/utils/constants.ts
Due: frontend-code-checks

chore: update endpoint URLs in constants file (#8)
  src/app/page.tsx
  src/components/card/card.tsx
  src/utils/constants.ts
Due: frontend-code-checks

updated url
  src/utils/constants.ts
Due: frontend-code-checks

updated url (#10)
  src/utils/constants.ts
Due: frontend-code-checks

updated SR url
  src/utils/constants.ts
Due: frontend-code-checks

updated SR url (#11)
  src/utils/constants.ts
Due: frontend-code-checks

fix: update eCR viewer URL
  src/utils/constants.ts
Due: frontend-code-checks

fix: update eCR viewer URL (#12)
  src/utils/constants.ts
Due: frontend-code-checks

add ttc blurb
  src/app/page.tsx
  src/utils/constants.ts
Due: frontend-code-checks

add TTC card image
  public/images/text-to-code-img.svg
  src/app/page.tsx
Due: frontend-code-checks

change to purple
  public/images/text-to-code-img.svg
Due: none

update image correct one from Ryan
  public/images/text-to-code-img.svg
Due: none

fix: secure GitHub Actions workflow - remove inputs and add permissions
  .github/workflows/trigger_demo_workflow.yaml
Due: none

feat: restore inputs with proper sanitization
  .github/workflows/trigger_demo_workflow.yaml
Due: none

fix: remove dynamic inputs and hardcode service and version in demo deployment workflow
  .github/workflows/trigger_demo_workflow.yaml
Due: none

feat: parametrize service and version in GitHub workflow dispatch
  .github/workflows/trigger_demo_workflow.yaml
Due: none
